<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blockchain Explorer</title>
    <link rel="stylesheet" href="./static/css/style.css">
</head>
<body>
    
    <nav>
        <h1>Blockchain Explorer</h1>
    </nav>
    <div class="btn">
        <button id="createBlockBtn" class="button-65">Create your First Block</button>
        <button id="resetBtn" class="button-65">Reset</button>
    </div>
    <div id="blockchain">
        <!-- Placeholder for blockchain blocks -->
    </div>

    
    <script src="./static/js/script.js"></script>
   
</body>
</html>